# --- DATA & ENGINEERING (For Ingestion/Transformation) ---
pandas
numpy
requests
sqlalchemy
psycopg2-binary

# --- ML & OPS (For the "Brains") ---
scikit-learn
mlflow
xgboost

# --- ARCHITECTURE (For the "Skeleton") ---
pytest
python-dotenv

# Utilities
dvc
dill
-e .